<table style="undefined;table-layout: fixed; width: 850px">
<colgroup>
<col style="width: 250px">
<col style="width: 100px">
<col style="width: 500px">
</colgroup>
  <tr>
    <td rowspan="5"><img src="/assets/imgs/informal.jpeg" alt="Matthew sitting in front of a computer in a lab"></td>
    <th>Mail</th>
    <td>Department of Computer Science<br>Thomas J. Watson School of Engineering and Applied Science<br>State University of New York at Binghamton<br>PO Box 6000<br>Binghamton, NY 13902-6000<br></td>
  </tr>
  <tr>
    <th>Offices</th>
    <td>EB G20A<br>CE 1302A<br></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><SCRIPT LANGUAGE="JavaScript">user = 'mcole8';site = 'binghamton.edu';document.write('<a href=\"mailto:' + user + '@' + site + '\">');document.write(user + '@' + site + '</a>');</SCRIPT></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><i>On request</i><br></td>
  </tr>
  <tr>
    <th>PGP/GPG</th>
    <td>Public Key: <a href=https://keybase.io/colematthew/pgp_keys.asc>pgp_keys.asc</a>
    <br>Fingerprint: <tt>6398 8B05 3D1D 130B 5F50 E063 406F D990 F6D3 E5B7</tt></td>
  </tr>
</table>