<table style="undefined;table-layout: fixed; width: 850px">
<colgroup>
<col style="width: 250px">
<col style="width: 100px">
<col style="width: 500px">
</colgroup>
  <tr>
    <td rowspan="5"><img src="https://colematt.github.io/assets/img/informal.jpeg" alt="Matthew sitting in front of a computer in a lab"></td>
    <th>Mail</th>
    <td>Department of Computer Science<br>Thomas J. Watson School of Engineering and Applied Science<br>State University of New York at Binghamton<br>PO Box 6000<br>Binghamton, NY 13902-6000<br></td>
  </tr>
  <tr>
    <th>Offices</th>
    <td>EB G-20<br>CE 1302A<br></td>
  </tr>
  <tr>
    <th>Email</th>
    <td>mcole8@binghamton.edu</td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><i>On request</i><br></td>
  </tr>
  <tr>
    <th>PGP/GPG</th>
    <td></td>
  </tr>
</table>