<!-- <ul class="social-media-list">
{%- for entry in site.minima.social_links -%}
  {%- include social-item.html item = entry -%}
{%- endfor -%}
</ul>
 -->

<!-- vertically aligning icons -->
<div style="font-size: 2rem;">
  <div><i class="fa-regular fa-envelope"></i> <a href="https://github.com/colematt">colematt</a></div>
  <div><i class="fa-solid fa-graduation-cap"></i> <a href="https://scholar.google.com/citations?user=GfQ-ozgAAAAJ&hl=en">Matthew Cole</a></div>
  <div><i class="fa-brands fa-orcid"></i> <a href="https://orcid.org/0000-0003-1743-1504">0000-0003-1743-1504</a></div>
  <div><i class="fa-brands fa-keybase"></i> <a href="https://keybase.io/colematthew">colematthew</a></div>
  <div><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/matthewcole4/">matthewcole4</a></div>
  <div><i class="fa-brands fa-mastodon"></i> <a href="https://mastodon.acm.org/@colematt">@colematt</a></div>
</div>